@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat+Alternates&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat Alternates", sans-serif;
}
body {
  background-color: #3a5369;
}

button:disabled {
  background-color: darkgrey;
  border: none;
  color: gainsboro;
  cursor: not-allowed;
}
